{% extends 'app/base.html' %}

{% block container %}

		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">    

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							Contact

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="welcome.html">Home</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="#">Contact</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<div id="dashboard">

					<div class="text-center">
						
						<h4>
						
							<p>This is a project for the course 03-60-699.</p>

							<p>This is a group porject.</p>

							<br>

							<p>Advisor:</p>

							<p>Dr. Stephanos Mavromoustakos<br>
							<small>stephano@uwindsor.ca</small></p>
							
							<p>team members:</p>

							<p>Jimei Peng<br>
							<small>peng11n@uwindsor.ca</small></p>	

							<p>Yilin Liao<br>
							<small>liaoe@uwindsor.ca</small></p>	

							<p>Xiaoliang Duan<br>
							<small>duand@uwindsor.ca</small></p>

							<p>Juzhou Zhang<br>
							<small>zhang1oc@uwindsor.ca</small></p>

						</h4>

					</div>

				</div>

			</div>

			<!-- END PAGE CONTAINER-->    

		</div>

		<!-- END PAGE -->


{% endblock %}
