{% extends 'app/base.html' %}

{% block container %}

		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">    

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							Faculty

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="welcome.html">Home</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">Users</a>

								<i class="icon-angle-right"></i>
								
							</li>

							<li><a href="#">Faculty</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box blue">

							<div class="portlet-title">

								<div class="caption"><i class="icon-edit"></i>Faculty Table</div>

							</div>

							<div class="portlet-body">

								<div class="clearfix">

									<div class="btn-group">

										<a href="{% url 'app:add_faculty' %}"><button id="sample_editable_1_new" class="btn green">

										Add New <i class="icon-plus"></i>

										</button></a>

									</div>

								</div>

								<table class="table table-striped table-hover table-bordered" id="sample_editable_1">

									<thead>

										<tr>

											<th>ID</th>

											<th>Username</th>

											<th>User Full Name</th>

											<th>Email</th>

											<th>Department</th>

											<th>Professor Rank</th>

											<th>Hire Date</th>

											<th>Edit</th>

											<th>Delete</th>

										</tr>

									</thead>

									<tbody>
                                    {% for faculty in faculty_list %}

										<tr class="">

											<td>{{ faculty.id }}</td>

											<td>{{ faculty.user.username }}</td>

											<td>{{ faculty.user.first_name }} {{ faculty.user.last_name }}</td>

											<td>{{ faculty.user.email }}</td>

											<td>{{ faculty.fac_department }}</td>

											<td>{{ faculty.fac_professor_rank }}</td>

											<td>{{ faculty.fac_hire_date }}</td>

											<td><a class="edit" href="{% url 'app:update_faculty' faculty.user.id %}">Edit</a></td>

											<td><a class="delete" href="{% url 'app:delete_faculty' faculty.user.id %}">Delete</a></td>

										</tr>

                                    {% endfor %}


									</tbody>

								</table>

							</div>

						</div>

						<!-- END EXAMPLE TABLE PORTLET-->

					</div>

				</div>

			</div>

			<!-- END PAGE CONTAINER-->    

		</div>

		<!-- END PAGE -->


	<!-- END CONTAINER -->
{% endblock %}
