{% extends 'app/base.html' %}


{% block container %}


		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">    

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							Internship Information

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="welcome.html">Home</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">Internship</a>

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="#">Internship Information</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box blue">

							<div class="portlet-title">

								<div class="caption"><i class="icon-edit"></i>Internship Information Table</div>

							</div>

							<div class="portlet-body">

								<div class="clearfix">

									<div class="btn-group">

										<a href="{% url 'app:add_internship_info' %}"><button id="sample_editable_1_new" class="btn green">

										Add New <i class="icon-plus"></i>

										</button></a>

									</div>
									
								</div>

								<table class="table table-striped table-hover table-bordered" id="sample_editable_1">

									<thead>

										<tr>

											<th>ID</th>

											<th>Company Name</th>

											<th>Address</th>

											<th>Contact Person</th>

											<th>Position</th>

											<th>Telephone</th>

											<th>Email</th>

											<th>Company Website</th>

											<th></th>
                                            <th></th>


										</tr>

									</thead>

									<tbody>
                                    {% for info in info_list %}

										<tr class="">

											<td>{{ info.id }}</td>

											<td>{{ info.company_name }}</td>

											<td>{{ info.address}}, {{ info.city }}, {{ info.province }}, {{ info.country }}, {{ info.postal_code }}</td>

											<td>{{ info.contact_first_name }}{{ info.contant_last_name }}</td>

											<td>{{ info.contact_position }}</td>

											<td>{{ info.telephone }}</td>

											<td>{{ info.email }}</td>

											<td>{{ info.company_website }}/</td>

											<!-- <td class="center">power user</td> -->

											<td><a class="edit" href="{% url 'app:update_internship_info' info.id %}">Update</a></td>

											<td><a class="delete" href="{% url 'app:delete_internship_info' info.id %}">Delete</a></td>

											<!--<td><a class="delete" href="#">Delete</a></td>-->

										</tr>

                                    {% endfor %}

										<!--<tr class="">

											<td>2</td>

											<td>BlackBerry</td>

											<td>*******</td>

											<td>*******</td>

											<td>Manager</td>

											<td>1234567890</td>

											<td>******@blackberry.ca</td>

											<td>https://us.blackberry.com/</td>

											<td><a class="edit" href="#">Edit</a></td>

											<td><a class="delete" href="#">Delete</a></td>

										</tr>-->


									</tbody>

								</table>

							</div>

						</div>

						<!-- END EXAMPLE TABLE PORTLET-->

					</div>

				</div>

			</div>

			<!-- END PAGE CONTAINER-->    

		</div>

		<!-- END PAGE -->


{% endblock %}