{% extends 'app/base.html' %}

{% block container %}
		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							Internship Information

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="welcome.html">Home</a>

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">Internship</a>

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="internship-information.html">Internship Information</a>

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="#">Add New</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN EXAMPLE FORM-->

						<h2>Create New Company</h2>

						<form role="form" action="" method="post">
                            {% csrf_token %}

							<!--<div class="form-group">

								<label for="companyName">Company Name</label>

								<input type="text" class="form-control" name="" id="companyName" required="required">

							</div>

							<div class="form-group">

								<label for="address">Address</label>

								<input type="text" class="form-control" name="" id="address" required="required">

							</div>

							<div class="form-group">

								<label for="city">City</label>

								<input type="text" class="form-control" name="" id="city" value="Windsor">

							</div>

							<div class="form-group">

								<label for="province">Province</label>

								<input type="text" class="form-control" name="" id="province" value="Ontario">

							</div>

							<div class="form-group">

								<label for="postalCode">Postal Code</label>

								<input type="text" class="form-control" name="" id="postalCode" required="required">

							</div>

							<div class="form-group">

								<label for="country">Country</label>

								<input type="text" class="form-control" name="" id="country" value="Canada">

							</div>

							<div class="form-group">

								<label for="contactFirstName">Contact First Name</label>

								<input type="text" class="form-control" name="" id="contactFirstName" required="required">

							</div>

							<div class="form-group">

								<label for="contactLastName">Contact Last Name</label>

								<input type="text" class="form-control" name="contact_last_name" id="contactLastName" required="required">

							</div>

							<div class="form-group">

								<label for="contactPosition">Contact Position</label>

								<input type="text" class="form-control" name="contact_position" id="contactPosition" required="required">

							</div>

							<div class="form-group">

								<label for="telephone">Telephone</label>

								<input type="text" class="form-control" name="telephone" id="telephone" required="required">

							</div>

							<div class="form-group">

								<label for="email">Email</label>

								<input type="text" class="form-control" name="email" id="email" required="required">

							</div>

							<div class="form-group">

								<label for="companyWebsite">Company Website</label>

								<input type="text" class="form-control" name="company_website" id="companyWebsite" required="required">

							</div>

							<div class="form-group">

								<label for="note">Note</label>

								<textarea class="form-control" name="notes" rows="3"></textarea>

							</div>-->

                            {{ form.as_p }}

                            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>

                            <button type="reset" class="btn btn-primary" value="Reset">Reset</button>

						</form>

						<!-- END EXAMPLE FORM-->

					</div>

				</div>

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->
{% endblock %}








