{% extends 'app/base.html' %}

{% block container %}
		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							Internship Information

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="welcome.html">Home</a>

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">Job Record</a>

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="internship-information.html"></a>

								<i class="icon-angle-right">Delete</i>

							</li>

							<li><a href="#">Add New</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN EXAMPLE FORM-->

						<h2>Delete A Job</h2>

                        <form method="post">{% csrf_token %}
                            Are you sure you want to delete "{{ object }}" ?
                            <input type="submit" value="Submit" />
                        </form>

						</form>

						<!-- END EXAMPLE FORM-->

					</div>

				</div>

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->
{% endblock %}








