{% extends 'app/base.html' %}


{% block container %}
		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">    

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							Report

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="welcome.html">Home</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="#">Report</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<div id="dashboard">

					<p><a href="#">All students</a></p>

					<p><a href="#">Students from specific country (e.g. India)</a></p>

					<p><a href="#">Students with a job in a company</a></p>

					<p><a href="#">Students without any job</a></p>

					<p><a href="#">Students with a paid job</a></p>

					<p><a href="#">Students without a paid job</a></p>

					<p><a href="#">Students average current GPA</a></p>

					<p><a href="#">Students average previous GPA</a></p>

					<p><a href="#">Students average current GPA from specific country (e.g. India) and from a specific year (e.g. Fall 2014)</a></p>

					<p><a href="#">Students with a paid job from specific country (e.g. India) and from a specific year (e.g. Fall 2014)</a></p>

					<p><a href="#">Students with a job from a specific year (e.g. Fall 2014)</a></p>

					<p><a href="#">Students without a job from a specific year (e.g. Fall 2014)</a></p>

					<p><a href="#">All employers</a></p>

					<p><a href="#">Employers from a specific city</a></p>

					<p><a href="#">All OPEN positions</a></p>

				</div>

			</div>

			<!-- END PAGE CONTAINER-->    

		</div>

		<!-- END PAGE -->

{% endblock %}