{% extends 'app/base.html' %}

{% block container %}


		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							Students

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="welcome.html">Home</a>

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="students.html">Students</a>

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="#">Add New</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN EXAMPLE FORM-->

						<h2>Create/Edit A Student</h2>

						<form role="form" action="" method="post">


                            {% csrf_token %}
                            {{ form.as_p }}

                            {{ students.management_form }}

                            {% for form in students.forms %}
                                {% if forloop.first %}

                                        {% for field in form.visible_fields %}

                                            {{ field.label|capfirst }}
                                            <br>
                                            {# Include the hidden fields in the form #}
                                            {% if forloop.first %}
                                                {% for hidden in form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                            {% endif %}
                                            {{ field.errors.as_ul }}
                                            {{ field }}
                                            <br>
                                        {% endfor %}


                                {% endif %}

                            {% endfor %}


                            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>

                            <button type="reset" class="btn btn-primary" value="Reset">Reset</button>

						</form>

						<!-- END EXAMPLE FORM-->

					</div>

				</div>

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->


{% endblock %}








