{% extends 'app/base.html' %}

{% block container %}

		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">    

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							Students

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="welcome.html">Home</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="#">Students</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->		
				
				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box blue">

							<div class="portlet-title">

								<div class="caption"><i class="icon-edit"></i>Student Table</div>

							</div>

							<div class="portlet-body">

								<div class="clearfix">
                                    {% if 'staff' in request.user.groups.all.0.name %}

									<div class="btn-group">

										<a href="{% url 'app:add_student' %}"><button id="sample_editable_1_new" class="btn green">

										Add New <i class="icon-plus"></i>

										</button></a>

									</div>
                                    {% endif %}

									<div class="btn-group pull-right">

										<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="icon-angle-down"></i>

										</button>

										<ul class="dropdown-menu pull-right">

											<li><a href="#">Print</a></li>

											<li><a href="#">Save as PDF</a></li>

											<li><a href="#">Export to Excel</a></li>

										</ul>

									</div>

								</div>

								<table class="table table-striped table-hover table-bordered" id="sample_editable_1">

									<thead>

										<tr>

											<th>Student ID</th>

											<th>Student Full Name</th>

											<th>Email</th>

											<th>Telephone</th>

											<th>Gender</th>

											<th>Status</th>

											<th>Current Past</th>
                                            {% if 'staff' in request.user.groups.all.0.name %}

											<th>Edit</th>

											<th>Delete</th>
                                            {% endif %}

										</tr>

									</thead>

									<tbody>
                                    {% for student in student_list %}

										<tr class="">

											<td>{{ student.id }}</td>

											<td>{{ student.user.first_name }} {{ student.user.last_name }}</td>

											<td>{{ student.user.email }}</td>

											<td>{{ student.stu_telephone }}</td>

											<td>{{ student.stu_gender }}</td>

											<td>{{ student.stu_status }}</td>

											<td>{{ student.stu_current_past }}</td>

											<!-- <td class="center">power user</td> -->
                                            {% if 'staff' in request.user.groups.all.0.name %}

											<td><a class="edit" href="{% url 'app:update_student' student.user.id %}">Edit</a></td>

											<td><a class="delete" href="{% url 'app:delete_student' student.user.id %}">Delete</a></td>
                                        {% endif %}

										</tr>

										{% endfor %}


									</tbody>

								</table>

							</div>

						</div>

						<!-- END EXAMPLE TABLE PORTLET-->

					</div>

				</div>
				
			</div>

			<!-- END PAGE CONTAINER-->    

		</div>

		<!-- END PAGE -->

{% endblock %}