{% extends 'app/base.html' %}

{% block container %}


		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							Students

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="welcome.html">Home</a>

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="students.html">Students</a>

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="#">Add New</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN EXAMPLE FORM-->

						<h2>Create New Student</h2>

						<form role="form" action="#" method="post">

							<div class="form-group">

								<label for="studentID">Student ID</label>

								<input type="text" class="form-control" id="studentID" required="required">

							</div>

							<div class="form-group">

								<label for="studentFirstName">Student First Name</label>

								<input type="text" class="form-control" id="studentFirstName" required="required">

							</div>

							<div class="form-group">

								<label for="studentMiddleName">Student Middle Name</label>

								<input type="text" class="form-control" id="studentMiddleName">

							</div>

							<div class="form-group">

								<label for="studentLastName">Student Last Name</label>

								<input type="text" class="form-control" id="studentLastName" required="required">

							</div>

							<div class="form-group">

								<label for="email">Email</label>

								<input type="text" class="form-control" id="email" required="required">

							</div>

							<div class="form-group">

								<label for="telephone">Telephone</label>

								<input type="text" class="form-control" id="telephone" required="required">

							</div>

							<div class="form-group">

								<label for="gender">Gender</label>

								<select class="form-control">

									<option>None</option>

									<option>Male</option>

									<option>Female</option>

								</select>

							</div>

							<div class="form-group">

								<label for="status">Status</label>

								<select class="form-control">

									<option>International</option>

									<option>Permanent Resident/Citizen</option>

								</select>

							</div>

							<div class="form-group">

								<label for="curentPast">Current or Past</label>

								<select class="form-control">

									<option>None</option>

									<option>Current Student</option>

									<option>Past Student</option>

								</select>

							</div>


                            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>

                            <button type="reset" class="btn btn-primary" value="Reset">Reset</button>

						</form>

						<!-- END EXAMPLE FORM-->

					</div>

				</div>

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->


{% endblock %}








