{% extends 'app/base.html' %}
{% load staticfiles %}




{% block container %}
		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">    

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							Welcome

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="welcome.html">Home</a> 

							</li>
							
						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<div id="dashboard">
					
					<div class="text-center">
					
						<h1>Welcome {{ user.first_name }}</h1>
						
						<div class="clearfix"><br></div>

						<h4><p>This is the MAC MIS system, you can check every information using the navigation bar in you left side.</p></h4>
					
					</div>

					<div class="clearfix"></div>

					<div class="clearfix"></div>

					<div class="clearfix"></div>

					<div class="clearfix"></div>

				</div>

			</div>

			<!-- END PAGE CONTAINER-->    

		</div>

		<!-- END PAGE -->
{% endblock %}


